<%- include('./header.ejs') %>


<div class="jumbotron container">
    <br>
    <h1>About</h1>
    <p class="colchange">
        TypeSight is an online OCR Reader, which helps you convert the text inside the images to use as editable text on your computer. It also has a Text-to-Speech recognition to aid the visually impaired and help everyone.
        Built as a university project demo for Vellore Institute of Technology, Chennai.
        Developed by:
        <li>Sumit Prakash - 19BCE1731</li>
        <li>Aman Kumar - 19BCE1653</li>
    </p>
    <br>
    <br>
    
    
    <h2>Our tech stack</h2>
    <br>
    <br>
    <div class= "row">
        <div class="col-sm-5 logomar">
            <img src="img/htmlcssjs.png" class= "img-fluid stackicons1">
        </div>
        <div class="col-sm-5 logomar">
            <img src="img/mongo.png" class= "img-fluid mongo">
        </div>
        <div class= "row">
            <div class="col-md-4 logomar" id="logomar-mid">
                <img src="img/node.png" class= "img-fluid mongo stackicons">
            </div>
        </div>
    </div>
    <br>
    
    <br>
    <br>
    <p class="colchange">You can checkout our repository on <a href="https://github.com/HNGP/TypeSight"><i class="fab fa-github mr-1"></i>GitHub</a></p>
    
    </div>
