<%- include('./header.ejs') %>

   <!--================Blog Area =================-->
   <section class="blog_area single-post-area section-padding">
      <div class="container" style="margin-left: 24%">
         <div class="row">
            <div class="col-lg-8 posts-list">
               <div class="single-post">
                  <div class="feature-img">
                     <img class="img-fluid" src="< %= path %>" alt="">
                  </div>
                  <div class="blog_details">
                     <h2> All the text in the image is recognized and displayed below :</h2>
                     <p class="excert"></p>
                    <div class="quote-wrapper">
                        <div class="quotes">
                            <%= data %>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="navigation-top">
                  <div class="d-sm-flex justify-content-between text-center">
                     <div class="col-sm-4 text-center my-2 my-sm-0">
            <!-- <p class="comment-count"><span class="align-middle"><i class="fa fa-comment"></i></span> 06 Comments</p> -->
                     </div>
                  </div>
               <div class="row">
                   <div class="col-md-4" style="margin-left: 20%;">
                       <form action="/download">
                            <button class="boxed-btn-white set2 logomar" type="submit">Download PDF</button>
                        </form>
                    </div>
                    <div class="col-md-4">
                        <form action="#">
                            <input onclick='responsiveVoice.speak(`<%= data %>`);' type='button' class="boxed-btn-white set2 logomar" value='🔊 Speak Back' />
                        </form>
                    </div>
               </div>
            </div>
        </div>
   </section>

