<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title> TypeSight </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link rel="shortcut icon" type="image/x-icon" href="img/barnd/1.png">
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/nice-select.css">
    <link rel="stylesheet" href="css/flaticon.css">
    <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet"> 
    <!-- <link rel="stylesheet" href="css/responsive.css"> -->
</head>

<body>

    <!-- header-start -->
    <nav class="navbar fixed-top navbar-expand-lg navbar scrolling-navbar">
        <div class="container">
          <!-- Brand -->
          <a class="navbar-brand" href="/">
            <img src="img/logo.png" height="40" alt=""> <span id="brand1">Type</span><span id="brand2">Sight</span>
          </a>

          <!-- Links -->
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- Left -->
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/home">OCR</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/contact">Feedback</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
              </li>
          
            </ul>
  
            <!-- Right -->
            
            <ul class="navbar-nav nav-flex-icons">
              <% if(!currentUser){ %>
              <li class="nav-item">
                <a class="login-btn" href="/login" >Login</a>
              </li>
              <li class="nav-item">
                <a class="reg-btn" href="/register">Sign Up</a>
              </li>
              <%   } else { %>
                <li class="nav-item dropdown nav-item">
                  <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-user nav-link">Welcome, <%=currentUser.firstname %></i>
                  </a>
                  <div class="dropdown-menu dropdown-menu-right dropdown-default"
                    aria-labelledby="navbarDropdownMenuLink-333">
                    <a class="dropdown-item" href="#">Signed in as <%=currentUser.username %></a>
                    <a class="dropdown-item" href="/logout">Logout</a>
                  </div>
                </li>
              <%     } %>
            </ul>
          </div>
        </div>
      </nav>
      </body>
<% if( error && error.length > 0 ){ %>

  <div class="flashcard flash container">
    <div class= "alert alert-danger" role= "alert">
      <%= error %>
    </div>
<% } %>
  </div>
<% if( success && success.length > 0 ){ %>
  <div class="flashcard flash container">
    <div class= "alert alert-success" role= "alert">
      <%= success %>
    </div>
      <% } %>
    </div>

    

    
<!-- JS here -->
<script src="js/vendor/modernizr-3.5.0.min.js"></script>
<script src="js/vendor/jquery-1.12.4.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/isotope.pkgd.min.js"></script>
<script src="js/ajax-form.js"></script>
<script src="js/waypoints.min.js"></script>
<script src="js/jquery.counterup.min.js"></script>
<script src="js/imagesloaded.pkgd.min.js"></script>
<script src="js/scrollIt.js"></script>
<script src="js/jquery.scrollUp.min.js"></script>
<script src="js/wow.min.js"></script>
<script src="js/nice-select.min.js"></script>
<script src="js/jquery.countdown.js"></script>
<script src="js/plugins.js"></script>

<!--contact js-->
<script src="js/contact.js"></script>
<script src="js/jquery.ajaxchimp.min.js"></script>
<script src="js/jquery.form.js"></script>
<script src="js/jquery.validate.min.js"></script>
<script src="js/mail-script.js"></script>

<script src="js/main.js"></script>
<!-- API for Speaking-->
<!-- <script src="https://code.responsivevoice.org/responsivevoice.js?key=HVyByr7B"></script> -->
<script src="https://code.responsivevoice.org/responsivevoice.js?key=WooPbBzO"></script>
