<%- include('./header.ejs') %>


<div class="container welcome">
    <h1>Welcome To TypeSight, Get Started Below
    <input onclick='responsiveVoice.speak ("Welcome, You can now try here one of the best Text recognition using an OCR for free to convert Images into text,PDF and even as audio output just like the way you are listening right now.Give it a try !");'
    type='button' class="neubtn" value='🔊 Play' /></h1>
</div>

        <div class="top_ele">
            <div class="container">
                <div class="position_relv">
                   
                    <div class="jumbotron">
                    <h3 class="set"> Image to Text, PDF And Voice Outputs</h3>
                                <form id="frmUploader" enctype="multipart/form-data" action="/upload" method="post">
                                    <div class="row">
                                        <input class="boxed-btn-white set1" type="file" name="image" multiple />

                                        <input class="boxed-btn-white set2" type="submit" name="submit" id="btnSubmit"
                                            value=" Run OCR " />
                                    </div>
                                </form>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>


<div class="instruct">
    <div class="container">
        <div class="jumbotron">
            <h1>How To Get Started?</h1>
            <p class="text">You can get started in just few simple clicks. Just follow the instructions given below to get started.</p>
            <br>
            <ul>
                <li class="list">Upload an image from your computer with the text you want to digitize.</li>
                <li class="list">If you do not see any error and see the name of your file in the field, you are good.</li>
                <li class="list">Then, click on the Run OCR Button.</li>
                <li class="list">Voila! You get the text Right in front of you. Either Copy it directly or you have a few options to choose from.</li>
                <li class="list">You can also download the text in PDF Format or you can listen to the text if you click on the Speak Back Button.</li>
                <li class="list"> Supported Image Formats are: <span><b>.JPG, .JPEG, .PNG and .BMP</b></span></li>
            </ul>
        </div>
    </div>
</div>